html * {
    font-family: "Rubik";
    letter-spacing: 0.05em;
    color: #222;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
}

h2 {
    font-size: large;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
}

h3 {
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    letter-spacing: 0;
}

h4 {
    font-size: small;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

li, p {
    font-size: small;
    overflow-wrap: break-word;
    line-height: 1.2em;
}

.root {
    padding: 2em;
}

.icon {
    height: 1em;
}

.f {
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.pr {
    padding-right: 1em;
}

.pl {
    padding-left: 1em;
}

.py {
    padding: 0.2em 0 0.2em 0;
}

.mt {
  margin-top: 1em;
}

.ml {
  margin-top: 2em;
}

.center {
    text-align: center;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.container {
    padding: 1em;
}

.left-container {
    background-color: gainsboro;
}

.main-container {
    align-content: flex-start;
}

@media screen and (min-width: 800px) {
    .left-container {
        flex: 1
    }

    .main-container {
        flex: 3
    }
}

.tag {
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.2em 0.2em 0 0.2em;
    background-color: gainsboro;
    border-radius: 1em;
    text-transform: capitalize;
    font-size: xx-small;
}

.pfp {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.red {
    color: red;
}

.twitter {
    color: #1DA1F2;
}

.linkedin {
    color: #0077B5;
}

.stackoverflow {
    width: 1em;
    height: 1em;
}

@media print {
    .about {
        display: none;
    }
}

.printonly {
    display: none;
}

@media print {
    .printonly {
        display: inherit;
    }
    .printrow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}